@import '../app/buttons.less';

.btn.btn-primary {
    border-color: @yellow; background: @yellow; color: @white !important;

    &:focus { border-color: @yellow !important; background: @yellow !important; }
}

.btn-group.open > .dropdown-toggle.btn-primary:hover, .btn-group.open > .dropdown-toggle.btn-primary:focus {
    border-color: @yellow;
    background: @yellow;
}