#landing {
	color: #211f22;
	.section-1 {
		.section-1-left-block {
			background-color: #211f22;
			height: 690px;

			.section-1-left-block-content {
				padding-top: 150px;
				width: 410px;
    			margin: auto;

				.section-1-left-block-title {
					color: #f0c700;
					font-size: 48px;
				}
				.section-1-left-block-subtitle {
					color: #ffffff;
					font-size: 48px;
				}
			}
		}

		@media (max-width: 991px) {
			.section-1-left-block {
				.section-1-left-block-content {
					width: 315px;

					.section-1-left-block-title {
						font-size: 32px;
					}
					.section-1-left-block-subtitle {
						font-size: 32px;
					}
				}
			}
		}

		@media (max-width: 768px) {
			.section-1-left-block {
				height: 300px;

				.section-1-left-block-content {
					padding-top: 50px;
					width: 335px;
				}
			}
		}

		@media (max-width: 400px) {
			.section-1-left-block {
				height: 300px;

				.section-1-left-block-content {
					width: 100%;

					.section-1-left-block-title {
						font-size: 26px;
					}
					.section-1-left-block-subtitle {
						font-size: 26px;
					}
				}
			}
		}

		.section-1-right-block {
			background-color: #ffffff;
			height: 690px;

			.section-1-right-block-content {
				padding-top: 150px;
				width: 410px;
    			margin: auto;

				.section-1-right-block-list {
					.list-group {
						.list-group-item {
							color: #211f22;
							border-color: transparent !important;
							padding-left: 55px;
							font-size: 24px;

							.icon-img {
								margin-left: -35px;
    							margin-right: 17px;
							}

							.section-1-right-block-list-yellow {
								color: #f0cd18;
							}
						}
					}
				}

				.section-1-right-block-button {
					.section-1-right-block-button-content {
						padding-left: 15px;
						text-align: center;
						padding-top: 20px;
						padding-bottom: 20px;

						.start-button {
							color: #211f22;
							font-weight: bold;
							font-size: 24px;
							padding: 10px;
							background-color: #f0cd18;
							border: 1px solid #211f22;

							&:hover {
								text-decoration: none;
								background-color: #211f22;
								color: #ffffff;
							}
						}
					}
					@media (max-width: 400px) {
						.section-1-right-block-button-content {
							text-align: left;
						}
					}
				}

				.section-1-right-block-image {
					img {
						height: 183px;
						margin-right: auto;
						margin-left: auto;
    					margin-top: 63px;
					}
					@media (max-width: 400px) {
						img {
							margin-left: 0px;
						}
					}
				}
			}
		}
		@media (max-width: 991px) {
			.section-1-right-block {
				.section-1-right-block-content {
					width: 315px;

					.section-1-right-block-list {
						.list-group {
							.list-group-item {
								padding-left: 30px;
    							font-size: 19px;
							}
						}
					}
				}
			}
		}
		@media (max-width: 768px) {
			.section-1-right-block {
				height: 580px;

				.section-1-right-block-content {
					padding-top: 50px;
				}
			}
		}
		@media (max-width: 400px) {
			.section-1-right-block {
				.section-1-right-block-content {
					.section-1-right-block-button {
						.section-1-right-block-button {
							.start-button {
								font-size: 18px;
								margin-left: 20px;
							}
						}
					}
				}
			}
		}
	}

	.section-1-footer {
		background-color: #ffffff;
		text-align: center;

		.section-1-footer-text {
			color: #333b4b;
			padding-top: 10px;
    		padding-bottom: 20px;
		}
	}
	@media (max-width: 768px) {
		.section-1-footer {
			padding-bottom: 35px;
		}
	}

	.section-2 {
		background-color: #ffffff;

		.section-2-title {
			text-align: center;
			color: #211f22;
			font-size: 48px;


			.section-2-title-yellow {
				color: #f0cd18;
			}
		}
		.section-2-subtitle {
			color: #211f22;
			text-align: center;
			padding-top: 20px;
			padding-bottom: 20px;
			font-size: 24px;
		}

		.section-2-icons {
			text-align: center;
			padding-top: 15px;
			padding-bottom: 15px;

			.img-responsive {
				margin: auto;
				width: 77px;
			}

			@media (max-width: 768px) {
				.img-responsive {
					margin-bottom: 20px;
				}
			}
		}
		.section-2-tips {
			text-align: center;
			padding-top: 20px;
			padding-bottom: 50px;

			.tip-title {
				color: #211f22;
				font-weight: bold;
				font-size: 24px;
			}
			.tip-text {
				color: #211f22;
				font-size: 24px;
			}
		}
	}
	@media (max-width: 991px) {
		.section-2 {
			.section-2-title {
				font-size: 32px;
			}
			.section-2-subtitle {
				font-size: 19px;
			}
			.section-2-tips {
				.tip-title {
					font-size: 19px;
				}
				.tip-text {
					margin-bottom: 20px;
					font-size: 19px;
				}
			}
		}
	}

	.section-3 {
		background-color: #f0cd18;
		text-align: center;
		padding-bottom: 20px;


		.section-3-title {
			color: #211f22;
			font-size: 30px;
			padding-top: 20px;
			padding-bottom: 40px;
		}
		@media (max-width: 768px) {
			.section-3-title {
				padding-bottom: 35px;
			}
		}
		.section-3-images {
			text-align: center;
			padding-bottom: 20px;

			.img-responsive {
				margin: auto;
				max-width: 150px;
			}
			@media (max-width: 768px) {
				.img-responsive {
					margin-bottom: 20px;
				}
			}

		}
		@media (max-width: 768px) {
			.section-3-images {
				padding-bottom: 0px;
			}
		}
	}
	@media (max-width: 991px) {
		.section-3 {
			.section-3-title {

			}
		}
	}
	@media (max-width: 768px) {
		.section-3 {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	.section-4 {
		background-color: #211f22;
		text-align: center;

		.section-4-title {
			color: #ffffff;
			font-size: 48px;
    		padding-top: 20px;
    		padding-bottom: 10px;

			.section-4-title-yellow {
				color: #f0cd18;
			}
		}
		.button-block {
			padding-top: 20px;
			padding-bottom: 40px;

			.start-button {
				color: #211f22;
				font-weight: bold;
				font-size: 24px;
				padding: 10px;
				background-color: #f0cd18;
				border: 1px solid #211f22;

				&:hover {
					text-decoration: none;
					background-color: #211f22;
					color: #ffffff;
				}
			}
			@media (max-width: 400px) {
				.start-button {
					font-size: 18px;
					margin-left: 20px;
				}
			}
		}
	}
}