/node_modules

/public/_temp
/public/compiled
/public/flags
/public/marketplaces
/public/services
/public/sites
/public/storage
/public/themes
/public/users

/resources/assets/css/compiled
/resources/assets/js/compiled

/storage/fonts
/storage/sites

/vendor

Homestead.json
Homestead.yaml

deploy.sh
/backups

.env
