/vendor
/node_modules
/public/storage
/public/compiled
/public/flags
/public/services
/public/sites
/public/_temp
/resources/assets/css/compiled
/resources/assets/js/compiled
Homestead.yaml
Homestead.json
.env
