/node_modules

/public/_temp
/public/attachments
/public/compiled
/public/configured
/public/flags
/public/marketplaces
/public/services
/public/sites
/public/storage
/public/themes
/public/users

/resources/assets/css/compiled
/resources/assets/js/compiled

/storage/fonts
/storage/sites

/vendor
/.idea

package.json

Homestead.json
Homestead.yaml

deploy.sh
/backups

.env
.env.molista
.env.004estate
/nbproject/private/