@import '../app/variables.less';

/* colors */

@white : #ffffff;
@black : #000000;
@gray : #a0a0a0;
@softGray : #f6f6f6;
@yellow : #efb817;
@yellowHover : #efc95f;

/* parts */

@backgroundGray : #fafafa;
@backgroundFooterTop : #000000;
@backgroundFooterBottom : #346381;
@backgroundPropertiesSearch : #dedcdc;
@accountTextColor : @backgroundFooterBottom;
@backgroundSearchArea : #dedcdd;

/* main colors */

@colorPurple: @backgroundFooterBottom;
@colorPurpleDark: @backgroundFooterBottom;

/* new colors */
@brown : #868080;

/* NEW PARTS */

@headerTextColor : #444444;
@headerTextHoverColor : @black;
@headerBackground : @white;

/* Locale and Social */
@headerLocaleSocialTextColor : @black;
@headerLocaleSocialBackground : @brown;
/* end Locale and Social */

/* header language dropdown */
@headerLanguageSelectorBackground : @headerLocaleSocialBackground;
@headerLanguageSelectorTextColor : @headerLocaleSocialTextColor;
@headerLanguageSelectorBorderColor : @black;
@headerLanguageSelectorTextHoverBackground : @black;
@headerLanguageSelectorTextHoverColor : @white;
/* end header language dropdown */

@searchBarBackground : rgba(0,0,0,0.4);
