@import '../app/variables.less';

/* colors */

@white : #ffffff;
@black : #000000;
@gray : #a0a0a0;
@softGray : #f6f6f6;
@yellow : #efb817;
@yellowHover : #efc95f;

/* parts */

@backgroundGray : #fafafa;
@backgroundFooterTop : #000000;
@backgroundFooterBottom : #346381;
@backgroundPropertiesSearch : #dedcdc;
@accountTextColor : @backgroundFooterBottom;
@backgroundSearchArea : #dedcdd;

/* main colors */

@colorPurple: @backgroundFooterBottom;
@colorPurpleDark: @backgroundFooterBottom;

/* NEW PARTS */

@headerBackground : #ffffff;
@headerTextColor : #444444;
@headerBorderColor : @gray;