@import '../app/variables.less';

/* General Colors */
@white : #ffffff;
@black : #000000;
@gray : #a0a0a0;

/* Color Definition */
@brown : #868080;

/* ### Set colors to sections ### */

/* -- Body -- */

@backgroundBody : #f5f5f5;

/* -- end Body -- */

/* -- Header -- */

	@headerTextColor : #444444;
	@headerTextHoverColor : @black;
	@headerBackground : @white;

	/* Locale and Social */
	@headerLocaleSocialTextColor : @black;
	@headerLocaleSocialBackground : @brown;
	/* end Locale and Social */

	/* header language dropdown */
	@headerLanguageSelectorBackground : @headerLocaleSocialBackground;
	@headerLanguageSelectorTextColor : @headerLocaleSocialTextColor;
	@headerLanguageSelectorBorderColor : @black;
	@headerLanguageSelectorTextHoverBackground : @black;
	@headerLanguageSelectorTextHoverColor : @white;
	/* end header language dropdown */

/* -- end Header -- */

/* -- Footer -- */

	/* Footer Top */
	@footerTopTextColor : @black;
	@footerTopBackground : @white;
	/* end Footer Top */

	/* Footer Bottom */
	@footerBottomTextColor : @black;
	@footerBottomBackground : @brown;
	/* end Footer Bottom */

/* -- Footer -- */

/* -- General Fixes -- */

	/* fixes */
	@boxshadowColor : #888888;
	@backgroundHomeProperties : @backgroundBody;
	@allInputBorders : @brown;
	@paginationTextColor : @brown;
	/* fixes */

	/* Correction in main color */
	@colorPurple : @brown;
	@colorPurpleDark : @brown;
	/* Correction in main color */

	/* buttons */
	@buttonsTextColor : @white;
    @buttonsBackground : @brown;
    @buttonsBorder : @brown;
	/* buttons */

	/* account */
	@accountTextColor : @brown;
	/* end account */

/* -- end General Fixes -- */

/* -- Home - SearchTopBar -- */

@searchBarInputTextColor : @black;
@searchBarTriggerButton : @white;
@searchBarBackground : #b3b3b3;
@searchBarSubmitTextColor : @white;
@searchBarSubmitBackground : @brown;
@searchBarSubmitBorderColor : @brown;

/* -- end Home - SearchTopBar -- */

/* -- Property Pill Color -- */

@propertyPillTitleColor : @black;
@propertyPillLocationColor : @gray;
@propertyPillPriceColor : @black;
@propertyPillButtonColor : @white;
@propertyPillButtonBackground : @brown;
@propertyPillButtonHoverBackground : @brown;
@propertyPillBorderColor : @gray;
@propertyPillBackgroundColor : @white;

/* -- end Property Pill Color -- */

/* -- Property List (properties) -- */

@backgroundSearchArea : #dedcdd;

@propertyListTitleTextColor : @black;
@propertyListPriceTextColor : @white;
@propertyListPriceBackground : @brown;
@propertyListLocationTextColor : @gray;
@propertyListMetricsTextColor : @gray;
@propertyListServicesTextColor : @gray;
@propertyListDescriptionTextColor : @gray;

/* -- end Property List (properties) -- */

/* -- Property -- */

@propertyTitleTextColor : @brown;
@propertyPriceTextColor : @black;
@propertyDetailsTextColor : @gray;

/* -- end Property -- */
