html, body { padding: 0px; margin: 0px; }
body { font-family: 'Dosis', Helvetica, Arial, sans-serif; }

a, .link { color: #f2c902; text-decoration: none; }

p, ul { margin: 0px 0px 20px 0px; }
ul { padding: 0px 0px 0px 17px; }

.text-gray { color: #eaeaea; }
.text-center { text-align: center; }

.container { max-width: 630px; margin: 0px auto; }

.content { font-size: 16px; line-height: 1.5em; color: #fff; background: #1c191d; padding: 20px 50px 140px 50px; }

.header { padding-bottom: 65px; }

.h1 { font-size: 30px; font-weight: bold; padding-bottom: 25px; }

.website-block { padding: 10px 0px; }
.website-link { border: 1px solid #f2c902; color: #f2c902; display: inline-block; padding: 5px 20px; }

.payment-completed {
	border-top: 1px solid #eaeaea; color: #eaeaea; font-size: 0.8em; padding: 10px;
}

.footer { text-align: center; padding: 10px 0px; }