@import '../app/pills.less';

.property-pill {
	position: static; border: 1px solid @gray; background-color: @white;

	.padder {

		.image {
			position: relative; margin-bottom: 10px;

			.discount-label {
				position: absolute;
				top: 0px;
				left: 0px;
			}

			.labels {
				position: absolute;
				bottom: 0px;
				right: 0px;
			}
		}

		.text {
			padding: 5px;

			.title a { color: @gray; font-weight: bold; }

		}

		.price {
			border-top: 1px solid @gray;

			.price-price {

			}

			.price-button {
				display: block !important;
			}

		}

	}
}

/* responsive */

@media (min-width: 768px) and (max-width: 1091px) {
	.property-pill {
		.padder {
			.price { font-size: 12px; }
			.button a { font-size: 12px !important; }
		}
	}
}