@import '../app/property.less';

#property {

	.container { position: relative; }
	
	

	.bottom-links {
		.cols-xs-12.col-sm-9 { width: 100%; }
		.cols-xs-12.col-sm-3 { display: none; width: 0%;}
		h2 { color: @black; }
	}
}