@import '../app/property.less';

@media (min-width: 768px) {
	#property {
		.container { position: relative; }
		.container:after { display: table; content: ""; clear: both; }
		.header {
			margin-bottom: 25px;

			h1 { position: absolute; color: @gray; }
			.price { float: left !important; margin-top: 35px; color: @black; font-size: 20px; }
			.location { position: absolute; left: 58%; top: 155px; }
		}
		.header:after { display: table; content: ""; clear: both; }
		.images-gallery { width: 58.33333333%; float: left; padding-right: 30px; }
		.details {
			width: 41.66666667%; float: left; position: static; border: 0px;

			.cols-xs-12.col-sm-9 { width: 100%; position: static; }
			.description { margin-top: 80px; }
			.metrics { position: absolute; top: 95px; }
			.call-to-action { position: absolute; top: 0px; left: auto; right: 0px; bottom: auto; }
		}
		.details:after { display: table; content: ""; clear: both; }
		.map-area { width: 100%; float: right; border: 1px solid @gray; }
		.map-area:after { display: table; content: ""; clear: both; }
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#property {
		.header { .location { top: 200px; } }
		.details { .description { margin-top: 150px; } }
	}
}

@media (max-width: 767px) {
	#property {
		padding: 20px;

		.container { position: relative; }
		.header { h1 { color: @black; } }
	}
}

/* Settings on bottom links */
#property {
	.bottom-links {
		.cols-xs-12.col-sm-9 { width: 100%; }
		.cols-xs-12.col-sm-3 { display: none; width: 0%; }
		h2 { color: @black; }
		&:before  { display: table; content: ""; clear: both; }
	}
}
/* End Settings on bottom links */
