@import '../app/variables.less';

/* meanwhile */


@grey : #444444;
@darkGrey : #353535;
@green : #acbb00;

@borderGrey : #646464;

@borderDarkGrey : #a0a0a0;

/* meanwhile */

@white : #ffffff;
@black : #000000;

@grey : #a0a0a0;

@buttonYellow : #efb817;
@yellow : #efb817;

@backgroundGrey : #fafafa;
@backgroundFooterTop : #000000;
@backgroundFooterBottom : #346381;