
#header {
	background-color: #fff;

	.btnBdrYlw { 
		background-color: transparent; 
		&:hover { background-color: #f2c902; }
	}

	@media (min-width: 768px) {
		.navbar-brand { 
			padding-top: 0px;
			img { max-height: 65px; }
		}	
	}

	@media (max-width: 767px) {
		.navbar-brand { 
			padding: 0px 15px;
			img { max-height: 40px; }
		}	
	}

}

