/* ---------------------------------------
                 Colors 
   --------------------------------------- */

@black       : #211f22;
@yellow      : #f2c902;
@lightYellow : #e8ca82;
@white       : #ffffff;
@lightBlue   : #5da4ca;
@lightBluetwo : #407693;
@lightBluethree : #2f586e;
@darkBlue : #3a89b3;
@backgroundGrayModal : #f2f2f2;
@red: #f00;


/* ---------------------------------------
                 Atributes
   --------------------------------------- */

@btnborder : @yellow;
@btnboradius : 4px;
@font-size-title : 48px;

.btnBdrYlw {
	padding: 5px;
	min-width: 200px;
	border: 2px solid @yellow;
	border-radius: 	@btnboradius;
	background-color:@black;
	color:@yellow;
}

a.btnBdrYlw {
	.btnBdrYlw;
}

.block-links {
	padding: 40px 0;
	background-color: @black;

	.btnBdrYlw {
		.btnBdrYlw;
		font-size: 21px;
	}
	.col-lg-6 {
		text-align : center;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display : inline-block;
		float:none;
		text-align: center;

		li {
			float:none;
			display: inline-block;
			padding: 0px 15px;

			a , button {
				font-weight: bold;

				&:hover {
					background: @yellow;
					color: @black;
				}
			}
		}
	}
}

body { 
	font-family: 'Dosis', sans-serif;
}

header { min-height: 84px; background-color: @black; 

	.navbar-default {
		background-color: transparent;
		border-color: transparent;
		margin: 0px;
		padding: 10px 0 0 0;

		.navbar-nav {


		
			li{
				.btnBdrYlw {.btnBdrYlw; margin: 15px 15px 0 15px; font-size: 14px; font-weight:bold;
							&:hover {
								background: @yellow;
								color:@black;
								font-size: 14px;
							}
				}


				a{
					color: @lightYellow; font-size: 16px;
				}
				a:hover{
					color: @black; font-size: 16px;
				}				
			}
			li.dropdown {
	    		border-color: transparent;
	    		background: transparent;

	    		a.dropdown-toggle {
					color: @lightYellow; font-size: 16px;
					border: 1px solid transparent;
					border-radius: 4px;
					margin: 15px 10px 0 10px;
					padding: 5px;
				}
				a.dropdown-toggle:hover {
					color: @lightYellow; font-size: 16px;
				}
				.dropdown-menu {
					background-color:@black;
				}
			}
			li.open {
				

	    		a.dropdown-toggle{    			
	    			border-radius: 4px;
					margin: 10px 10px 0 10px;
					padding: 5px;
					border: 1px solid;
		    		border-color: @yellow;
		    		background: transparent;
	    		}
	    		a.focus{
	    			background-color: @black;
	    			padding:0;
	    		}
			}
		}
	}

	
}

#home {
	.jumbotron { 		
		height: 638px;
		background: url(/images/corporate/banner.jpg) no-repeat 100% center;
		background-size: cover;

		.col-md-6 { padding-left: 0px; margin-top: 30px;

			h1 {
				text-transform : uppercase;
				font-size: @font-size-title;
				color: @white;
				font-weight: bold;
			}
			p {
				font-size: 20px;
				color: @white;
			}
		}
	}

	.first-block { 
		padding: 20px 0;
		background-color: @white;

		h2 {
				text-transform : uppercase;
				font-size: 30px;
				color: @black;
				font-weight: bold;
		}
		p {
				font-size: 20px;
				color: @black;
		}

		ul { list-style: none; padding: 10px 0 0 10px; list-style-type: none;
			li { 	
					font-size: 20px;
					padding:0.10em 0 0.3em 1.4em;
					margin-bottom:0.2em;
					text-indent:0.4em;
					list-style:none;
					background-repeat:no-repeat;
					background-position-y: center;

				img {margin-right:10px;}
			}
			li[data-type="fixa"]{ background-image:url(/images/corporate/fixa-icon.png);}
			li[data-type="searcher"]{ background-image:url(/images/corporate/searcher-icon.png);}
			li[data-type="relation"]{ background-image:url(/images/corporate/relation-icon.png);}
			li[data-type="easy"]{ background-image:url(/images/corporate/easy-icon.png);}
			li[data-type="settings"]{ background-image:url(/images/corporate/settings-icon.png);}
			li[data-type="responsive"]{ background-image:url(/images/corporate/responsive-icon.png);}
		}
	}

	.second-block {
		padding: 20px 0;
		background-color: @black;
		.col-lg-6 {
			text-align : center;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display : inline-block;
			float:none;
			text-align: center;

			li {
				float:none;
				display : inline-block;
			}
		}
	}

	.third-block {
		padding: 30px 0;

		.title-block{
			padding-bottom : 30px;
		}

		h3 {
				text-transform : uppercase;
				font-size: @font-size-title;
				color: @black;
				font-weight: bold;
		}
		.panel {
			min-height: 165px;
			border-right: 15px solid @yellow;
			border-radius: 0px;
			padding: 10px 20px;
			border-top: 0px;
			border-bottom: 0px;
			border-left: 0px;


			h4 {
				color: @white;
				font-size: 36px;
				font-weight: bold;
				margin:40px 10px;
			}
			p {
				color: @white;
				font-size: 20px;
				margin: 30px 0;
			}

			
		}

		.first-panel {
			background-color: @lightBlue;
		}
		.second-panel {
			background-color: @lightBluetwo;
		}
		.third-panel {
			background-color: @lightBluethree;
		}

		/* responsive */
		@media only screen and (max-width : 680px) {
			.panel {
				h4 { font-size: 28px !important; }
			}
			h3 {
				font-size: 40px;
			}
		}
	}

	.fourth-block {
		padding: 30px 0 0 0;

		.title-block{
			padding-bottom : 30px;
		}

		h3 {
				text-transform : uppercase;
				font-size: @font-size-title;
				color: @black;
				font-weight: bold;
		}
		.jumbotron-bottom {
			min-height: 400px;
			background: url(/images/corporate/bottom-banner.jpg) no-repeat 100% center;
			background-size: cover;
			
			p {
					font-size: 20px;
					color: @white;
				}
			
			@media only screen and (min-width : 768px) { 
				.row {
					margin-top: 240px;
				}	
			}
			@media only screen and (max-width : 767px) { 
				.row {
					margin-top: 180px;

				}
				.col-sm-4 {
					text-align: center;
				}	
			}
		}	
	}
}

footer {
 	padding: 20px 0;
 	background-color: @white;
 	.footer-menu {
 		list-style: none;
 		a {
 			font-size: 20px;
 			color: @black;
 			font-weight: bold;
 		}
 	}
 }

/* ---------------------------------------
                 Elements 
   --------------------------------------- */




/* ---------------------------------------
                 Modal contact 
   --------------------------------------- */

#contact-modal {
	
	.modal-dialog {

		.modal-content {

			.modal-header {

			}

			.modal-body {
				background: @backgroundGrayModal;
				text-align: left;

				.form-control {
					border: 0px;
				}

				label {font-weight: normal;}

				.moreinfo-button {
					background: transparent;
					color: @black;
					border-color: @black;
					min-width: 140px;

					&:hover { 
						background: @yellow;
						border-color: transparent;
					}
				}
			}
		}
	}

	@media (min-width: 768px) {
		.modal-dialog {
		    width: 500px;
		}
	}

}

/* ---------------------------------------
                 Features Page 
   --------------------------------------- */

#features-banner {
	background-color: @lightBlue;
	background-image: url('/images/corporate/features/banner-background.png');
	background-size: cover;

	.features-banner-padding {
		padding-top: 85px;
    	padding-bottom: 85px;

		h1 {
			margin: 0;
			text-align: center;
			font-size: 36px;
			font-weight: 700;
			color: @white;
			text-transform: uppercase;
		}
	}
}

#features {

	#features-tab-selector {
		background-color: @lightBlue;

		.features-tab-selector-block {

			ul.nav.nav-tabs.nav-justified {
				border-color: transparent;

				li {margin-bottom: 0px;}

				li a {
					border-radius: 0px;
					border: 0px;

					&:hover, &:focus {
						background: transparent;
					}
				}

				@media (min-width: 768px) {
					li a {
						padding: 0px;
					}
				}

				li.active {
					border-radius: 0px;

					a {
						border: 0px;
						border-bottom: 7px solid;
						border-bottom-color: @yellow;
						background: transparent;
					}
				}

				.features-tab-selector-image {
				    padding-top: 10px;
				    img {
				    	margin: auto;
				    }
				}

				.features-tab-selector-text {
					color: @white;
					padding-top: 5px;

					p {
						font-size: 20px;
						font-weight: bold;
						letter-spacing: 1.5px;
					}
				}

				@media (max-width: 767px) {
					li {float: left; width: 20%;}
					li a {margin-bottom: 0px;}
					.features-tab-selector-image {padding-top: 0px;}
				}
			}

		}
	}

	#features-content {
		color: @white;
		background: @darkBlue;
		border-bottom: 10px solid @yellow;

		.tab-content {
			padding-top: 40px;
			padding-bottom: 50px; 

			.features-content-text {

				h1 {
					margin-top: 0px;
					font-weight: bold;
				}

				p {
				    font-size: 18px;
				}
			}

			.feature-content-image {
				padding-top: 25px;

				img {
					margin: auto;
				}

				@media (min-width: 992px) {
					.feature-tab-5-img-right {
						margin-right:0px;margin-top: 35px;
					}

					.feature-tab-5-img-left {
						margin-left:15%;margin-top: 20px;
					}
				}

				@media (max-width: 991px) {
					.feature-tab-5-img-left {margin-top: 35px;}
					.feature-tab-5-img-right {margin-top: 35px;}
				}
			}

			@media (min-width: 992px) {
				.features-content-text {padding-right: 25%;}
			}

		}
	}

	#features-home-content {

		.second-block {
			padding: 20px 0;
			background-color: @black;
			.col-lg-6 {
				text-align : center;
			}
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				display : inline-block;
				float:none;
				text-align: center;

				li {
					float:none;
					display : inline-block;
				}
			}
		}


		.third-block {
			padding: 30px 0;

			.title-block{
				padding-bottom : 30px;
			}

			h3 {
					text-transform : uppercase;
					font-size: @font-size-title;
					color: @black;
					font-weight: bold;
			}
			.panel {
				min-height: 165px;
				border-right: 15px solid @yellow;
				border-radius: 0px;
				padding: 10px 20px;
				border-top: 0px;
				border-bottom: 0px;
				border-left: 0px;


				h4 {
					color: @white;
					font-size: 36px;
					font-weight: bold;
					margin:40px 10px;
				}
				p {
					color: @white;
					font-size: 20px;
					margin: 30px 0;
				}

				
			}

			.first-panel {
				background-color: @lightBlue;
			}
			.second-panel {
				background-color: @lightBluetwo;
			}
			.third-panel {
				background-color: @lightBluethree;
			}

			/* responsive */
			@media only screen and (max-width : 680px) {
				.panel {
					h4 { font-size: 28px !important; }
				}
				h3 {
					font-size: 40px;
				}
			}
		}
	}

}

#signup {
	background: url('/images/signup/background.jpg') top center no-repeat; padding-bottom: 100px; 

	h1 { text-transform: uppercase; margin: 50px 0px 50px 0px; color: @white; font-weight: bold; font-size: 48px; }
	h2 { margin: 0px; padding: 20px 0px; color: @black; font-weight: bold; font-size: 24px; background: @white; border-radius: 12px 12px 0px 0px; }

	label { 
		&.input-label { 
			font-weight: normal; display: block; padding-left: 10px; 
			&.text-center { padding-left: 0px; }
		}
		&.error { color: @red; font-size: 12px; font-weight: bold; line-height: 14px; padding-top: 5px; }
	}

	.alert { font-size: 16px; }
	.form-control { border-color: @white; border-radius: 2px; box-shadow: none; }

	.step-form {border: 2px solid #bfbfbf; border-radius: 12px; background: #f2f2f2; }
	.step-content { padding: 100px 50px 50px 50px; font-size: 16px; }

	.nav-area { padding-top: 100px; }

	.btn-nav {
		opacity: 0; position: relative; padding-left: 35px; padding-right: 35px; color: #414141; border: 2px solid #414141; border-radius: 4px; text-transform: uppercase; font-weight: bold;
		&.btn-nav-prev { padding-right: 25px; background: url('/images/signup/btn-nav-prev.png') left center no-repeat #f2f2f2; }
		&.btn-nav-next { padding-left: 25px; background: url('/images/signup/btn-nav-next.png') right center no-repeat #f2f2f2; }
		&:hover { background-color: #dddddd; }
	}

	&.step-user {
		.step-content { padding: 100px 120px 50px 120px; }
		.switch-area { 
			color: @lightBlue; padding-top: 20px;
			a { 
				color: @lightBlue; 
				&:hover { color: @lightBluethree; }
			}
		}
	}

	&.step-pack {
		.plan-row { 
			opacity: 0; padding-top: 40px;
			&:first-child { padding-top: 0px; }
		}
		.pack-label { 
			padding-right: 40px; 
			input { margin-right: 10px; }
		}
		.payment-interval-select { min-width: 250px; }
	}

	&.step-site {
		padding-top: 50px;
		.step-padder { padding: 0px 100px; }
		.address-area { opacity: 0; padding-bottom: 30px; }
	}

	&.step-payment {
		padding-top: 50px;
		.step-padder { padding: 0px 100px; }
	}

	&.step-invoicing {
		.step-content { padding-top: 50px; }
		.inline-checkboxes {
			margin-bottom: 20px;
			.checkbox { 
				margin-left: 20px;
				&:first-child { margin-left: 0px; }
			}
		}
		.address-title { padding: 30px 0px 20px 10px; font-weight: bold; }
		.coupon-question {
			color: @lightBlue; padding-top: 20px;
			a { 
				color: @lightBlue; 
				&:hover { color: @lightBluethree; }
			}
		}
	}

	&.step-confirm {
		.step-content { padding-top: 30px; font-size: 16px; }
		.confirm-block { margin-bottom: 30px; }
		.confirm-value { font-weight: bold; }
		.confirm-change { 
			font-weight: bold; 
			a { 
				color: @lightBlue; 
				&:hover { color: @lightBluethree; }
			}
		}
	}
}
