/* ---------------------------------------
                 Colors 
   --------------------------------------- */

@black       : #211f22;
@yellow      : #f2c902;
@lightYellow : #e8ca82;
@white       : #ffffff;
@lightBlue   : #5da4ca;
@lightBluetwo : #407693;
@lightBluethree : #2f586e;
@darkBlue : #3a89b3;
@backgroundGrayModal : #f2f2f2;
@red: #f00;


/* ---------------------------------------
                 Atributes
   --------------------------------------- */

@btnborder : @yellow;
@btnboradius : 4px;
@font-size-title : 48px;

.btnBdrYlw {
	padding: 5px;
	min-width: 200px;
	border: 2px solid @yellow;
	border-radius: 	@btnboradius;
	background-color:@black;
	color:@yellow;
}

a.btnBdrYlw {
	.btnBdrYlw;
}

.block-links {
	padding: 40px 0;
	background-color: @black;

	.btnBdrYlw {
		.btnBdrYlw;
		font-size: 21px;
	}
	.col-lg-6 {
		text-align : center;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display : inline-block;
		float:none;
		text-align: center;

		li {
			float:none;
			display: inline-block;
			padding: 0px 15px;

			a , button {
				font-weight: bold;

				&:hover {
					background: @yellow;
					color: @black;
				}
			}
		}
	}
}

body { 
	font-family: 'Dosis', sans-serif; opacity: 1 !important;
}

header { min-height: 84px; background-color: @black; 

	.navbar-default {
		background-color: transparent;
		border-color: transparent;
		margin: 0px;
		padding: 10px 0 0 0;

		.navbar-nav {
			li {
				.btnBdrYlw {
					.btnBdrYlw; margin: 15px 10px 0 10px; font-size: 14px; font-weight:bold; min-width: 160px;
					&:hover { background: @yellow; color:@black; font-size: 14px; }
				}
				a {
					color: @lightYellow; font-size: 16px;
					&:hover { color: @black; font-size: 16px; }
				}
				&.language-container {
					border-color: transparent; background: transparent;
					a {
						font-size: 14px;
						&.dropdown-toggle, 
						&.dropdown-toggle:hover { color: #848484; border: 1px solid transparent; border-radius: 4px; margin: 15px 0px 0px 10px; padding: 5px; }
					}
					.dropdown-menu { 
						background-color: @black; min-width: 90px; 
						a { color: #848484; }
					}
				}
				&.open {
					a.dropdown-toggle{ background: transparent; }
					a.focus{ background-color: @black; padding: 0; }
				}
				.phone-info { 
					margin: 22px 0px 0px 10px; color: #848484; 
					.fa-phone { color: @white; }
				}
			}
		}
	}

	
}

#home {
	.jumbotron { 		
		height: 638px;
		background: url(/images/corporate/banner.jpg) no-repeat 100% center;
		background-size: cover;

		.col-md-6 { padding-left: 0px; margin-top: 30px;

			h1 {
				text-transform : uppercase;
				font-size: @font-size-title;
				color: @white;
				font-weight: bold;
			}
			p {
				font-size: 20px;
				color: @white;
			}

			.btn-try { 
				font-weight: bold; text-transform: uppercase; .btnBdrYlw; background: transparent; font-size: 18px; min-width: 240px; padding: 10px; margin-top: 10px; 
				&:hover { background: @black; }
			}
 
		}
	}

	.first-block { 
		padding: 20px 0;
		background-color: @white;

		h2 {
				text-transform : uppercase;
				font-size: 30px;
				color: @black;
				font-weight: bold;
		}
		p {
				font-size: 20px;
				color: @black;
		}

		ul { 
			list-style: none; padding: 10px 0 0 10px; list-style-type: none;
			li { 	
				font-size: 18px; padding: 7px 0px 7px 45px; margin: 0px; background: url(/images/corporate/home-icons.png) 0px 0px no-repeat;
				img { margin-right: 10px; }
			}

			li[data-type="web"]{ background-position: -80px -2030px; }
			li[data-type="fixa"] { background-position: -80px -860px; }
			li[data-type="searcher"]{ background-position: -80px -1640px; }
			li[data-type="relation"]{ background-position: -80px -1250px; }
			li[data-type="easy"]{ background-position: -80px -470px; }
			li[data-type="exports"]{ background-position: -80px -665px; }
			li[data-type="responsive"]{ background-position: -80px -1445px; }
			li[data-type="agents"]{ background-position: -80px -80px; }
			li[data-type="docs"]{ background-position: -80px -275px; }
			li[data-type="leads"]{ background-position: -80px -1055px; }
			li[data-type="settings"]{ background-position: -80px -1835px; }
		}
	}

	.block-exports {
		background: #e6e5e4; padding: 25px 0px; font-size: 20px; color: @black; text-transform: uppercase; font-weight: 700;
		.logos {
			li { padding: 0px 8px 5px 8px; }
			&.visible-xs { 
				li { margin-bottom: 10px; }
			}
		}
	}

	.second-block {
		padding: 20px 0;
		background-color: @black;
		.col-lg-6 {
			text-align : center;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display : inline-block;
			float:none;
			text-align: center;

			li {
				float:none;
				display : inline-block;
			}
		}
	}

	.third-block {
		padding: 30px 0;

		.title-block{
			padding-bottom : 30px;
		}

		h3 {
				text-transform : uppercase;
				font-size: @font-size-title;
				color: @black;
				font-weight: bold;
		}
		.panel {
			min-height: 165px;
			border-right: 15px solid @yellow;
			border-radius: 0px;
			padding: 10px 20px;
			border-top: 0px;
			border-bottom: 0px;
			border-left: 0px;


			h4 {
				color: @white;
				font-size: 36px;
				font-weight: bold;
				margin:40px 10px;
			}
			p {
				color: @white;
				font-size: 20px;
				margin: 30px 0;
			}

			
		}

		.first-panel {
			background-color: @lightBlue;
		}
		.second-panel {
			background-color: @lightBluetwo;
		}
		.third-panel {
			background-color: @lightBluethree;
		}

		/* responsive */
		@media only screen and (max-width : 680px) {
			.panel {
				h4 { font-size: 28px !important; }
			}
			h3 {
				font-size: 40px;
			}
		}
	}

	.fourth-block {
		padding: 30px 0 0 0;

		.title-block{
			padding-bottom : 30px;
		}

		h3 {
				text-transform : uppercase;
				font-size: @font-size-title;
				color: @black;
				font-weight: bold;
		}
		.jumbotron-bottom {
			min-height: 400px;
			background: url(/images/corporate/bottom-banner.jpg) no-repeat 100% center;
			background-size: cover;
			
			p {
					font-size: 20px;
					color: @white;
				}
			
			@media only screen and (min-width : 768px) { 
				.row {
					margin-top: 240px;
				}	
			}
			@media only screen and (max-width : 767px) { 
				.row {
					margin-top: 180px;

				}
				.col-sm-4 {
					text-align: center;
				}	
			}
		}	
	}
}

@media (max-width : 767px) {
	#home {
		.jumbotron { 
			background: @darkBlue; text-align: center; height: auto; padding: 25px 0px; 
		}
		.first-block  {
			ul { margin-top: 0px; margin-bottom: 0px; }
		}
		.block-links {
			li { 
				margin-top: 10px; 
				&:first-child { margin-top: 0px; }
			}
		}
	}
}

footer {
 	padding: 35px 0px 50px 0px;
 	background-color: @white;
 	.footer-menu {
		font-size: 20px; color: @black; font-weight: bold;
 		a { color: @black; }
 	}
 	.footer-text { 
 		padding-top: 10px; font-size: 16px; color: #a7a7a7; 
 		a { color: #a7a7a7; }
 	}
 }

/* ---------------------------------------
                 Elements 
   --------------------------------------- */




/* ---------------------------------------
                 Modal contact 
   --------------------------------------- */

#contact-modal {
	
	.modal-dialog {

		.modal-content {

			.modal-header {

			}

			.modal-body {
				background: @backgroundGrayModal;
				text-align: left;

				.form-control {
					border: 0px;
				}

				label {font-weight: normal;}

				.moreinfo-button {
					background: transparent;
					color: @black;
					border-color: @black;
					min-width: 140px;

					&:hover { 
						background: @yellow;
						border-color: transparent;
					}
				}
			}
		}
	}

	@media (min-width: 768px) {
		.modal-dialog {
		    width: 500px;
		}
	}

}

/* ---------------------------------------
                 Features Page 
   --------------------------------------- */

#features-banner {
	background-color: @lightBlue;
	background-image: url('/images/corporate/features/banner-background.png');
	background-size: cover;

	.features-banner-padding {
		padding-top: 85px;
    	padding-bottom: 85px;

		h1 {
			margin: 0;
			text-align: center;
			font-size: 36px;
			font-weight: 700;
			color: @white;
			text-transform: uppercase;
		}
	}
}

#features {

	#features-tab-selector {
		background-color: @lightBlue;

		.features-tab-selector-block {

			ul.nav.nav-tabs.nav-justified {
				border-color: transparent;

				li {margin-bottom: 0px;}

				li a {
					border-radius: 0px;
					border: 0px;

					&:hover, &:focus {
						background: transparent;
					}
				}

				@media (min-width: 768px) {
					li a {
						padding: 0px;
					}
				}

				li.active {
					border-radius: 0px;

					a {
						border: 0px;
						border-bottom: 7px solid;
						border-bottom-color: @yellow;
						background: transparent;
					}
				}

				.features-tab-selector-image {
				    padding-top: 10px;
				    img {
				    	margin: auto;
				    }
				}

				.features-tab-selector-text {
					color: @white;
					padding-top: 5px;

					p {
						font-size: 20px;
						font-weight: bold;
						letter-spacing: 1.5px;
					}
				}

				@media (max-width: 767px) {
					li {float: left; width: 20%;}
					li a {margin-bottom: 0px;}
					.features-tab-selector-image {padding-top: 0px;}
				}
			}

		}
	}

	#features-content {
		color: @white;
		background: @darkBlue;
		border-bottom: 10px solid @yellow;

		.tab-content {
			padding-top: 40px;
			padding-bottom: 50px; 

			.features-content-text {

				h1 {
					margin-top: 0px;
					font-weight: bold;
				}

				p {
				    font-size: 18px;
				}
			}

			.feature-content-image {
				padding-top: 25px;

				img {
					margin: auto;
				}

				@media (min-width: 992px) {
					.feature-tab-5-img-right {
						margin-right:0px;margin-top: 35px;
					}

					.feature-tab-5-img-left {
						margin-left:15%;margin-top: 20px;
					}
				}

				@media (max-width: 991px) {
					.feature-tab-5-img-left {margin-top: 35px;}
					.feature-tab-5-img-right {margin-top: 35px;}
				}
			}

			@media (min-width: 992px) {
				.features-content-text {padding-right: 25%;}
			}

		}
	}

	#features-home-content {

		.second-block {
			padding: 20px 0;
			background-color: @black;
			.col-lg-6 {
				text-align : center;
			}
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				display : inline-block;
				float:none;
				text-align: center;

				li {
					float:none;
					display : inline-block;
				}
			}
		}


		.third-block {
			padding: 30px 0;

			.title-block{
				padding-bottom : 30px;
			}

			h3 {
					text-transform : uppercase;
					font-size: @font-size-title;
					color: @black;
					font-weight: bold;
			}
			.panel {
				min-height: 165px;
				border-right: 15px solid @yellow;
				border-radius: 0px;
				padding: 10px 20px;
				border-top: 0px;
				border-bottom: 0px;
				border-left: 0px;


				h4 {
					color: @white;
					font-size: 36px;
					font-weight: bold;
					margin:40px 10px;
				}
				p {
					color: @white;
					font-size: 20px;
					margin: 30px 0;
				}

				
			}

			.first-panel {
				background-color: @lightBlue;
			}
			.second-panel {
				background-color: @lightBluetwo;
			}
			.third-panel {
				background-color: @lightBluethree;
			}

			/* responsive */
			@media only screen and (max-width : 680px) {
				.panel {
					h4 { font-size: 28px !important; }
				}
				h3 {
					font-size: 40px;
				}
			}
		}
	}

}

#customers-login {
	background: url('/images/signup/background.jpg') top center no-repeat; padding-bottom: 100px; 

	h1 { text-transform: uppercase; margin: 50px 0px 50px 0px; color: @white; font-weight: bold; font-size: 48px; }
	
	form { border: 2px solid #bfbfbf; border-radius: 12px; background: #f2f2f2; }

	.intro { padding: 20px 50px; font-weight: bold; font-size: 24px; background: @white; border-radius: 12px 12px 0px 0px; text-align: center; }
	.content { padding: 50px; font-size: 16px; }
	.buttons-area { 
		padding-top: 20px;
		.btn-next { 
			padding-left: 25px; padding-right: 35px; color: #414141; border: 2px solid #414141; border-radius: 4px; text-transform: uppercase; font-weight: bold; background: url('/images/signup/btn-nav-next.png') right center no-repeat #f2f2f2; 

			&:hover { background-color: #dddddd; }
		}
		.btn-link { padding-left: 0px; padding-right: 0px; }
	}

	label.error { color: @red; font-size: 0.8em; font-weight: bold; }
}

#signup-new {
	background: @lightBlue; padding: 50px 0px 100px 25px;

	h1 { margin: 0px 0px 5px 0px; padding: 0px; font-weight: bold; font-size: 32px; }
	h2 { margin: 0px; padding: 0px; }

	.intro { color: @black; }
	.intro, .alert { font-size: 20px; margin-bottom: 50px; border-radius: 2px; }

	label.error { color: @red; font-size: 12px; font-weight: bold; }


	.signup-block { 
		font-size: 18px; color: @black; 
		.signup-block-title { 
			position: relative; 
			h2 { background: @darkBlue; padding: 15px 50px; line-height: 26px; color: #fff; font-size: 24px; }
			span { position: absolute; display: block; width: 40px; height: 40px; line-height: 40px; text-align: center; background: @lightBluethree; color: @yellow; font-size: 20px; border-radius: 20px; left: -20px; top: 50%; margin-top: -20px; font-weight: bold; }
		}
		.signup-block-content { 
			padding: 30px 0px 50px 0px; 
			a { color: @black; }
			&.is-last { padding-bottom: 0px; }
		}

		.form-control { border: 1px solid @black; border-radius: 2px; padding: 10px 12px; height: 42px; }

		.plan-block {
			border: 1px solid @black; border-radius: 2px; text-align: center; margin-bottom: 10px; background: #fff; 
			.plan-block-title { border-bottom: 1px solid @black; color: @black; background: #fff; padding: 15px 10px; font-weight: bold; font-size: 24px; }
			.form-control { border-color: transparent; background: transparent; height: 46px; color: @black; font-weight: bold; font-size: 18px; box-shadow:none; }
			&.plan-block-level-0 {
				.form-control { font-size: 22px; padding-top: 7px; }
			}
			&.selected {
				background: @yellow;
				.plan-block-title { background: @yellow; }
			}
		}

		.domain-input-group-addon { 
			border: none; background: none; font-weight: bold; font-size: 18px; color: @black;
			&:first-child { padding-left: 0px; }
			&:last-child { padding-right: 0px; }
		}

		.custom-domain-warning { margin: 25px 0px 25px 0px; padding: 10px 20px; font-weight: bold; background: #81b8d6; font-size: 16px; }

		.transfer-list { 
			font-weight: bold; font-size: 18px; 
			label { font-weight: bold; }
			.optional-text { padding-right: 20px; vertical-align: top; }
			.transfer-checkbox { top: 4px; }
			.plan-footnote { display: block; font-size: 14px; font-weight: normal; padding: 20px 0px 0px 20px; }
			.linethrough { text-decoration: line-through; }
		}		
	}

	.summary-sticky {
		padding-top: 20px; margin-top: -20px;
		&.is_stuck { margin-top: 0px; }
	}
	.summary { 
		border: 1px solid @black; border-radius: 2px; background: #fff; 
		h2 { background: #b5b5b5; color: #fff; padding: 10px 20px; font-size: 22px; font-weight: bold; }
		.summary-block {
			padding: 25px 20px 50px 20px; background: #fff; color: @black; font-size: 18px; 
			table { width: 100%; max-width: 100%; }
			&.items-block { border-bottom: 1px solid @black; }
		}
		.button-block { 
			padding: 0px 20px; 
		}
		.accept-block { padding: 20px; font-size: 16px; }
	}

	.btn-submit { text-transform: uppercase; background: @yellow; border: 1px solid @black; border-radius: 2px; font-size: 32px; font-weight: bold; }

	.help {
		color: #fff; font-size: 18px;
		a { color: #fff; }
		.title { padding: 30px 0px 15px 0px; font-size: 24px; font-weight: bold; }
		.phone-email { padding-left: 25px; background: left center no-repeat; font-weight: bold; }
		.phone { background-image: url('/images/corporate/signup/phone.png'); }
		.email { background-image: url('/images/corporate/signup/email.png'); }
	}
}

#signup {
	background: url('/images/signup/background.jpg') top center no-repeat; padding-bottom: 100px; 

	h1 { text-transform: uppercase; margin: 50px 0px 50px 0px; color: @white; font-weight: bold; font-size: 48px; }
	h2 { margin: 0px; padding: 20px 0px; color: @black; font-weight: bold; font-size: 24px; background: @white; border-radius: 12px 12px 0px 0px; }

	label { 
		&.input-label { 
			font-weight: normal; display: block; padding-left: 10px; 
			&.text-center { padding-left: 0px; }
		}
		&.error { color: @red; font-size: 12px; font-weight: bold; line-height: 14px; padding-top: 5px; }
	}

	.alert { font-size: 16px; }
	.form-control { border-color: @white; border-radius: 2px; box-shadow: none; }

	.step-form {border: 2px solid #bfbfbf; border-radius: 12px; background: #f2f2f2; }
	.step-content { padding: 100px 50px 50px 50px; font-size: 16px; }

	.nav-area { padding-top: 100px; }

	.btn-nav {
		opacity: 0; position: relative; padding-left: 35px; padding-right: 35px; color: #414141; border: 2px solid #414141; border-radius: 4px; text-transform: uppercase; font-weight: bold;
		&.btn-nav-prev { padding-right: 25px; background: url('/images/signup/btn-nav-prev.png') left center no-repeat #f2f2f2; }
		&.btn-nav-next { padding-left: 25px; background: url('/images/signup/btn-nav-next.png') right center no-repeat #f2f2f2; }
		&:hover { background-color: #dddddd; }
	}

	&.step-user {
		.step-content { padding: 100px 120px 50px 120px; }
		.switch-area { 
			color: @lightBlue; padding-top: 20px;
			a { 
				color: @lightBlue; 
				&:hover { color: @lightBluethree; }
			}
		}
	}

	&.step-pack {
		.plan-row { 
			opacity: 0; padding-top: 40px;
			&:first-child { padding-top: 0px; }
		}
		.pack-label { 
			padding-right: 40px; 
			input { margin-right: 10px; }
		}
		.payment-interval-select { min-width: 250px; }
	}

	&.step-site {
		padding-top: 50px;
		.step-padder { padding: 0px 100px; }
		.address-area { opacity: 0; padding-bottom: 30px; }
	}

	&.step-payment {
		padding-top: 50px;
		.step-padder { padding: 0px 100px; }
	}

	&.step-invoicing {
		.step-content { padding-top: 50px; }
		.inline-checkboxes {
			margin-bottom: 20px;
			.checkbox { 
				margin-left: 20px;
				&:first-child { margin-left: 0px; }
			}
		}
		.address-title { padding: 30px 0px 20px 10px; font-weight: bold; }
		.coupon-question {
			color: @lightBlue; padding-top: 20px;
			a { 
				color: @lightBlue; 
				&:hover { color: @lightBluethree; }
			}
		}
	}

	&.step-confirm {
		.step-content { padding-top: 30px; font-size: 16px; }
		.confirm-block { margin-bottom: 30px; }
		.confirm-value { font-weight: bold; }
		.confirm-change { 
			font-weight: bold; 
			a {
				color: @lightBlue; 
				&:hover { color: @lightBluethree; }
			}
		}
	}

	&.step-finish {
		.step-content { padding-top: 30px; font-size: 16px; }
		.links { padding-top: 50px; }
		.links-warning { 
			margin-top: 30px; padding-top: 10px; border-top: 1px solid #bfbfbf; font-size: 12px; 
			p { margin: 0px; }
		}
		.payment-warning {
			margin-top: 30px;
			p { margin-bottom: 10px; }
		}
	}

	&.pricing {
		padding-bottom: 0px; 
		.pricing-plans { padding-top: 50px; padding-bottom: 100px; }
		.plan-block {
			.plan-block-title { font-size: 32px; }
			.plan-block-body { font-size: 18px; }
			.plan-block-price { font-size: 28px; }
		}
	}
}

#corporate-error-page {
	font-size: 32px; text-align: center; padding: 50px;
}

#demo-page {
	background: @darkBlue; color: @white; font-size: 20px;
	h2 { margin: 0px; padding: 0px; font-size: 30px; font-weight: 700; text-transform: uppercase; }
	.demo-intro { 
		background: @lightBlue; padding: 100px 0px;
		h2 { padding-bottom: 34px; }
		li { margin-bottom: 10px; }
	}
	.btn-demo-site { 
		font-weight: bold; text-transform: uppercase; .btnBdrYlw; background: @darkBlue; font-size: 18px; min-width: 240px; padding: 10px; margin-top: 25px; 
		&:hover { background: @black; }
	}
	.steps-intro {
		padding-top: 85px;
	}
	.steps-block {
		padding: 40px 0px; text-align: center;
		h2 { font-size: 24px; padding-top: 80px; margin-bottom: 20px; background: center top no-repeat; }
		.intro-text { padding-bottom: 25px; }
		.image-block { 
			padding-top: 25px; 
			img { width: 100%; }
		}
	}
}

@media (max-width: 767px) {
	#demo-page {
		.demo-intro { padding-top: 40px; }
		.xs-spacer { height: 40px; }
		.steps-block {
			.xs-spacer { height: 80px; }
		}
	}
}
