@import '../account-icons.less';

#account-container {
	padding-top: 20px; padding-bottom: 30px;

	.account-menu {
		> li {
			> a {
				padding-left: 35px;
				.account-icon { position: absolute; font-size: 18px; left: 5px; top: 7px; }
			}
		}
	}

	.account-reports {
		.stats-area {
			h3 { font-size: 18px; }
		}
	}

	.site-configuration {
		.mailer-option { 
			position: relative;
			.mailer-current { 
				position: absolute; display: block; top: -20px; width: 100%; text-align: center; color: @colorPurple; border: @borderWidth solid @colorPurple; border-radius: @borderRadius; padding: 2px 10px; font-size: 10px; 
				&:after { content: ''; display: block; width: 0; height: 0; border: 5px solid transparent; vertical-align: middle; border-top-color: @colorPurple; position: absolute; bottom: -10px; left: 50%; margin-left: -6px; }
			}
			&.active {
				.mailer-current { top: -26px; }
			}
		}
		.mailer-tab-content { border: none; padding: 20px 0px; }
	}

	.site-menus {
		h3 { margin: 0px 0px 20px 0px; }
		hr { border: 0; background-color: @colorPurple; height: @borderWidth; }

		.items-sortable {
			min-height: 95px; list-style-type: none; margin: 0px; padding: 0px;
			> li { margin: 0px 0px 5px 0px; }
			.panel { margin-bottom: 0px; }
			.panel-heading { 
				&.closed { border-bottom: none; }
			}
		}
	}

	.site-widgets {
		.widget-available { 
			&:nth-child(2n) { padding-left: 5px; }
			&:nth-child(2n+1) { clear: left; padding-right: 5px; }
		}
		.widget-toggle { display: none; }
		.widget-draggables {
			.widget-title { cursor: move; }
		}
		.widget-droppables {
			min-height: 30px; 
			.widget-title { 
				cursor: ns-resize; border-bottom: 1px solid @colorGreySemiLight; 
				&.closed { border-bottom: none; }
			}
			.widget-toggle { display: block; }
			.widget-draggable {
				.widget-title { border-bottom: none; }
				.widget-body { display: none; }
			}
			
		}
		.ui-draggable-dragging {
			z-index: 10;
			.widget-title { border-bottom: none; }
			.widget-toggle { display: none; }
			.widget-body { display: none; }
		}
	}

	.nav-tabs-small {
		border-color: @colorGreyLight;
		> li {
			> a { 
				border-bottom-color: @colorGreyLight; padding: 5px 10px;
				&:hover, &:focus { border-bottom-color: @colorGreyLight; }
			}
			&.active { 
				> a {
					border-color: @colorGreyLight; border-bottom-color: @colorWhite;
					&:hover, &:focus { border-color: @colorGreyLight; border-bottom-color: @colorWhite; }
				}
			}
		}
	}
	.tab-content-grey {
		border-color: @colorGreyLight; padding: 10px; margin-bottom: 15px; 
	}

	.search-filters {
		margin: 30px 0px 20px 0px; 
		h2 { font-size: 16px; }
	}

	.is-sortable { 
		color: @bodyTextColor; 
		&.sorted {
			&:before { content:''; display: inline-block; width:0; height:0; border: 3px solid transparent; vertical-align: middle; opacity: 0.8; margin-right: 3px; }
			&.desc:before { border-top-color: @bodyTextColor; }
			&.asc:before { border-bottom-color: @bodyTextColor; margin-top: -7px; }
		}
	}

	.property-image-gallery {
		.default-label { display: none; }
		.info-label { font-size: 10px; top: 3px; margin-right: 2px; }
		li.handler {
			&.handler-red { 
				border-color: @colorRed; background: #f2dede; 
				.info-label { color: @colorRed; }
			}
			&.handler-orange { 
				border-color: #8a6d3b; background: #faebcc; 
				.info-label { color: #8a6d3b; }
			}
			&:first-child {
				.default-label { display: inline; }
			}
		}
	}

	.pagination { font-size: 14px; line-height: 30px; }

	.autotranslate-flag-area {
		position: relative;
		.autotranslate-flag { position: absolute; bottom: 4px; right: 6px; display: block; opacity: 0.7; color: @colorOrange; font-size: 10px; }
		&.autotranslate-complete {
			.autotranslate-flag { opacity: 1; color: @colorGreen; }
		}
	}

	.tickets-list-container {
		overflow-x: visible;
		.btn-group {
			.dropdown-menu { left: auto; right: -1px; }
		}
	}

	.employee-image {}
	.employee-image-thumb { .employee-image; height: 20px; margin-right: 10px; }
}
