html { height: 100%; }
body { height: 100%; font-size: 14px; .lato; background: @pageBackgroundColor; color: @bodyTextColor; }

h1 { color: @colorPurple; font-size: 36px; margin: 0px 0px 20px 0px; }
h2 { color: @colorPurple; font-size: 30px; }
h3 { color: @colorPurple; font-size: 24px; }

a { 
	color: @colorPurple; text-decoration: none; 
	&:hover { color: @colorPurpleDark; }
}

.lato { 
	font-family: 'Lato', sans-serif; font-style: normal; font-weight: 400; 
}

.relative { position: relative; }

.cursor-default { cursor: default; }
.cursor-pointer { cursor: pointer; }
.cursor-move { cursor: move; }

.text-underline { text-decoration: underline; }
.text-italic { font-style: italic; }
.text-light { font-weight: 300; }
.text-bold { font-weight: 700; }
.text-ultra-bold { font-weight: 900; }
.text-ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.strike-through { text-decoration: line-through; }

ul { margin: 0px; }

.page-title { margin: 0px 0px 20px 0px; }

.label { border-radius: 0px; }

.metrics { 
	margin-left: 0px;
	> li { 
		line-height: 25px; padding: 0px 20px 0px 0px; 
	}
	.has-fontello-icon { position: relative; padding-left: 24px; }
	.fontello-icon { position: absolute; font-size: 1.3em; top: -2px; left: 0px; }
	.fontello-icon-coins { left: -4px; color: #000; }
}

.dropzone {
	min-height: 250px; border: 1px dashed #ccc;
}

.error-message {
	text-align: center; font-size: 18px; font-weight: bold; padding: 50px 0px;
}

/* LOADING DIV */
#Contromia-loading-div {
	.background { background: @loadingBackgroundColor; opacity: @loadingBackgroundOpacity; } 
}

/* MAGNIFIC POPUP */
.mfp-bg { background: @loadingBackgroundColor; opacity: @loadingBackgroundOpacity; }

