html { height: 100%; }
body { height: 100%; font-size: 14px; .lato; }

h1 { color: @colorPurple; font-size: 36px; margin: 0px 0px 20px 0px; }
h2 { color: @colorPurple; font-size: 30px; }
h3 { color: @colorPurple; font-size: 24px; }

a { 
	color: @colorPurple; text-decoration: none; 
	&:hover { color: @colorPurpleDark; }
}

.lato { 
	font-family: 'Lato', sans-serif; font-style: normal; font-weight: 400; 
}

.relative { position: relative; }

.cursor-default { cursor: default; }
.cursor-pointer { cursor: pointer; }
.cursor-move { cursor: move; }

.text-underline { text-decoration: underline; }
.text-italic { font-style: italic; }
.text-light { font-weight: 300; }
.text-bold { font-weight: 700; }
.text-ultra-bold { font-weight: 900; }

ul { margin: 0px; }

.page-title { margin: 0px 0px 20px 0px; }

.label { border-radius: 0px; }

.metrics { 
	margin-left: 0px;
	> li { 
		line-height: 25px; padding: 0px 20px 0px 0px; 
	}
	.has-fontello-icon { position: relative; padding-left: 24px; }
	.fontello-icon { position: absolute; font-size: 1.3em; top: -2px; left: 0px; }
	.fontello-icon-coins { left: -4px; color: #000; }
}

/*
.btn { 
	border-radius: 0px; padding: 9px 12px;
	&:active, &:focus, &:hover { border-radius: 0px; }
	&.btn-xs { padding: 1px 5px; }
	&.btn-yellow { color: @colorText; background-color: @colorYellow; border-color: @colorYellow; }
}

.help-block { 
	font-size: 0.8em; 
	p { margin: 0px; }
}

.autotranslate-credit {
	font-size: 11px; line-height: 15px;
	a { color: #999; text-decoration: none; }
	img { margin-top: -2px; }
}

.alertify-cover { background: @colorWhite; opacity: 0.5; }
.alertify-button, .alertify-button:active, .alertify-button:focus, .alertify-button:hover { border-radius: 0px; }
.alertify-button-ok, .alertify-button-ok:active, .alertify-button-ok:focus, .alertify-button-ok:hover { color: @colorText; background-color: @colorYellow; border-color: @colorYellow; }

.label { 
	border-radius: 0px; padding: 2px 5px; text-transform: uppercase;
	&.label-purple { color: @colorWhite; background-color: @colorPurple; }
	&.label-big { font-size: 1.2em; }
}

.form-control { border-radius: 0px; height: 40px; }
.input-group-addon { border-radius: 0px; background-color: @colorYellow; }
label { 
	&.error { font-size: 0.8em; color: @colorRed; }
}

.pagination-limit-select { height: 34px; }
*/