.form-control {
	border-radius: @borderRadius; border-width: @borderWidth; box-shadow: none; border-color: @borderColor; height: @inputHeight;
	&:focus { border-color: @borderColorHover; }
	&.is-placeholder { color: @borderColor; }
	&.input-sm { height: @inputHeightSmall; }

}
.form-control::-webkit-input-placeholder { color: @borderColor; }
.form-control:-moz-placeholder { color: @borderColor; }
.form-control::-moz-placeholder { color: @borderColor; }
.form-control:-ms-input-placeholder { color: @borderColor; }

.input-group-addon { border-radius: @borderRadius; border-width: @borderWidth; border-color: @borderColor; }

.radio, .checkbox {
	border: @borderWidth solid @borderColor; border-radius: @borderRadius; margin: 0px; padding: 8px; background: @colorWhite;
	&.is-placeholder { color: @borderColor }
}

.select2-container--default {
	.select2-selection--single, .select2-selection--multiple { 
		border: @borderWidth solid @borderColor; border-radius: @borderRadius; min-height: 40px; 
		.select2-selection__choice { border-radius: @borderRadius; border-width: @borderWidth; margin-top: 6px; }
	}
	.select2-selection--single {
		.select2-selection__rendered { line-height: 38px; padding-left: 16px; }
		.select2-selection__arrow {
			b { border-width: 6px 3px 0px 3px; margin-left: -2px; margin-top: 3px; border-color: @borderColor transparent transparent transparent; }
		}
	}

	&.select2-container--focus, &.select2-container--open {
		.select2-selection--single, .select2-selection--multiple { border: @borderWidth solid @borderColorHover; }
		.select2-selection--single {
			.select2-selection__arrow {
				b { border-width: 6px 3px 0px 3px; margin-left: -2px; margin-top: 3px; border-color: @borderColor transparent transparent transparent; }
			}
		}
	}
}

.select2-container--open {
	.select2-dropdown--below { border: @borderWidth solid @borderColorHover; border-radius: @borderRadius; border-top: none; border-top-left-radius: 0; border-top-right-radius: 0; }
}

label.error { font-size: 0.8em; color: @colorRed; }

.help-block { font-size: 0.8em; }