/*
#home {
	.custom-tabs {
		.nav-tabs { border-color: @colorMenu; }
		.tab-content { border: none; padding: 0px; }
	}
	.search-form {
		padding: 80px 0px 100px 0px; background: url('/images/home/search-bg.jpg') top center no-repeat #1d4370;
		label { font-weight: normal; color: @colorWhite; }
		.main-filters { padding: 40px 0px; }
		.show-more-filters { 
			color: @colorWhite; text-decoration: none;
			span { text-decoration: underline; }
			&:hover { opacity: 0.8; }
		}
	}
	.properties-list {
		padding: 100px 0px;
		.pill { padding: 15px; }
	}
}
*/