/*
.nav-pills {
	> li {
		> a { 
			border-radius: 0px; color: @colorTabsText; 
			&:hover, &:focus { background-color: @colorTabs; }
		}
		> ul {
			> li { 
				margin-top: 1px; 
				> a { 
					font-size: 0.9em; color: @colorBrown; padding: 7px 15px 7px 25px;
					&:hover, &:focus { color: @colorTabsText; background-color: transparent; }
					&.current { color: @colorTabsText; font-weight: bold; }
				}
			}
		}
		&.active {
			background-color: @colorTabs;
			> a, > a:hover, > a:focus {background-color: @colorTabsActive; color: @colorTabsActiveText; }
		}
	}
}
*/