.app-popup-block {
	position: relative; background: @colorGreyLight; padding: 20px; width: auto; max-width: 500px; margin: 20px auto;
}

.app-popup-block-white {
	.app-popup-block; background: @colorWhite; border: 1px solid @colorPurple;
}

.mfp-arrow-right { 
	&:before, &:after { border-left-color: @colorWhite; opacity: 1; }
} 
.mfp-arrow-left { 
	&:before, &:after { border-right-color: @colorWhite; opacity: 1; }
} 
.mfp-iframe-scaler {
	iframe { background: @colorWhite; }
}

@media (min-width: 768px) {
	.mfp-container { padding: 0px; }
	.app-popup-block-large { max-width: 750px; }
	.search-popup-block { 
		max-width: 750px; padding: 35px 90px; margin: 0px auto;
		h2 { margin: 0px 0px 20px 0px; }
		.btn-submit { padding-left: 36px; padding-right: 36px; }
	}
}

@media (min-width: 992px) {
	.app-popup-block-large { max-width: 970px; }
	.search-popup-block { max-width: 970px; }
	.app-popup-block-large { max-width: 970px; }
}

@media (min-width: 1200px) {
	.search-popup-block { max-width: 1170px; }
	.app-popup-block-large { max-width: 1170px; }
}
