#properties {
	.search-area {
		background: @colorGreyLight; padding-top: 30px; position: relative;
		h2 { margin: 0px 0px 20px 0px; }
	}
	.form-area {
		padding-bottom: 35px;
		.form-area-minimizer {
			position: absolute; left: 0px; right: 0px; bottom: 0px; display: block; background: @colorGrey; opacity: 0.4; color: @colorBlack;
			&:hover { opacity: 0.5; }
		}
		&.closed {
			padding-bottom: 10px;
			.input-line { display: none; }
			.first-input-line { display: block; }
			.form-area-minimizer { display: none; }
		}
	}
	.results-area {
		padding: 30px 0px;
	}
	.results-sort-trigger {
		margin-bottom: 30px;
		.dropdown-menu { left: auto; right: 0px; }
	}
	.property-row {
		font-size: 16px; color: @colorGrey; border-top: 1px solid @colorGrey; padding: 20px 0px;
		a { color: @colorGrey; text-decoration: none; }
		.image { display: block; height: 165px; background: center center no-repeat; background-size: cover; margin-bottom: 10px; }
		.location {
			position: relative;
			.fontello-icon { position: absolute; left: -8px; top: -8px; font-size: 1.7em; }
		}
		.title {
			font-size: 18px;
			a { color: @colorPurple; text-decoration: none; }
		}
		.services { padding-top: 5px; }
		.price { font-size: 24px; }
		.property-column { position: relative; }
		.btn-more-info { position: absolute; bottom: 0px; right: 0px; }
	}
	.pagination-area {
		border-top: 1px solid @colorGrey; padding-top: 45px;
		.pagination { margin: 0px; }
	}
}

.discount-label { background: orange; color: #fff; font-weight: bold; position: absolute; top: 0; left: 0; padding: 5px 10px; }

@media (min-width: 768px) {
	#properties {
		.search-area {
			.form-group { margin: 0px 0px 25px 0px; }
			.btn-submit { padding-left: 36px; padding-right: 36px; }
		}
		.results-area { padding: 80px 0px 50px 0px; }
		.property-row {
			.location { padding-left: 25px; }
			.description { padding: 20px 0px; }
		}
	}
}

@media (max-width: 767px) {
	#properties {
		.form-area {
			padding-bottom: 35px;
		}
		.property-row {
			.description { font-size: 14px; padding: 10px 0px; }
		}
	}
}

.log-detail-content {
	.log-detail-header { border-bottom: 1px solid @colorGreySemiLight; font-weight: bold; padding: 5px 0px; }
	.log-detail-row { border-top: 1px solid @colorGreySemiLight; padding: 5px 0px; }
}
