.custom-tabs {
	/*
	.nav-tabs {
		border-color: @colorTabs;
		> li {
			> a { 
				border-radius: 0px; background-color: @colorTabs; border-color: @colorTabs; color: @colorTabsText;
			}
			&:hover, &.active {
				> a { background-color: @colorTabsActive; border-color: @colorTabsActive; color: @colorTabsActiveText; }
			}
		}
	}
	.tab-content {
		border: 1px solid @colorTabs; border-top: none; padding: 20px;
	}
	*/
}
