/* COLORS */
@colorBlack: #000;
@colorSemiBlack: #333;
@colorGrey: #a0a0a0;
@colorGreyDark: #373737;
@colorGreyLight: #f6f6f6;
@colorGreySemiLight: #ccc;
@colorPurple: #7e1f31;
@colorPurpleDark: #591723;
@colorRed: #c00;
@colorWhite: #fff;
@colorYellow: #f9bb2c;

@pageBackgroundColor: @colorWhite;
@bodyTextColor: @colorSemiBlack;

@borderRadius: 2px;
@borderWidth: 1px;
@borderColor: @colorGrey;
@borderColorHover: @colorPurple;

@inputHeight: 40px;
@inputHeightSmall: 30px;
