/* COLORS */
@colorBlack: #000;
@colorGrey: #a0a0a0;
@colorGreyLight: #f6f6f6;
@colorPurple: #7e1f31;
@colorPurpleDark: #591723;
@colorRed: #f00;
@colorWhite: #fff;
@colorYellow: #f9bb2c;

@borderRadius: 2px;
@borderWidth: 1px;
@borderColor: @colorGrey;
@borderColorHover: @colorPurple;

@inputHeight: 40px;
