@import '../app/header.less';

#header {
	border-top: 40px solid @inmoblue-topheader; background-color: @inmoblue-bottomheader;
	> .container { position: relative; }
	.navbar-collapse {
		> .navbar-right { position: absolute; right: 60px; top: -40px; }
	}
	.locale-select {
		padding: 5px 0px 0px 0px;
		.main-item.dropdown-toggle { font-size: 14px; border: 1px solid; border-radius: 25px; padding: 2px 12px; background-color: transparent; color: @white; }
		.dropdown-menu {
			background: @inmoblue-topheader; border-radius: @borderRadius; min-width: 100px; margin-top: 5px;
			a {
				&:hover { background: transparent; }
			}
		}
	}
	.social-media {
		ul {
			padding-top: 5px;
			li {
				padding: 0px 0px 0px 0px; line-height: 20px;
				a { color: @white; border: none; font-size: 14px; }
			}
		}
	}
	.navbar-nav:first-child {
		.main-item {
			padding: 21px 20px 21px 20px;
			&:hover, &.current { background: @inmoblue-topheader; }
		}
	}
	.navbar-brand { margin-top: 10px; }
	#app-navbar-collapse { border-color: @inmoblue-topheader; }

	.header-logo-md {
		.navbar-brand {
			height: 94px;
			width: 200px;
		}
		.header-container {
			padding-top: 10px;
		}
	}
}

@media (min-width: 768px) {
	#header {
		.navbar-nav:first-child {
			float: right; margin-right: -15px;
		}
	}
}

@media (max-width: 767px) {
	#header {
    	border-top: 0px;

    	//button search
    	.show-advance-search-trigger {
    		padding: 21px 20px 21px 20px;

    		&:hover {
    			background-color: @inmoblue-topheader !important;
    		}
    	}

    	//social and language block
    	.navbar-collapse {
    		> .navbar-right {
			    position: relative;
			    right: 0px;
			    top: 0px;
			}
		}

		// social block
		.header-locale-social {
			.main-item {
				padding: 21px 20px 21px 20px !important;
				border: 0px !important;
				border-radius: 0px !important;

	    		&:hover {
	    			background-color: @inmoblue-topheader !important;
	    		}
			}
			.social-media {
				padding-top: 10px;
				padding-left: 25px;
				padding-right: 25px;

				.list-inline {
					li {
						margin-right: 15px;
					}
				}
			}
		}

		// Language Block
		.header-locale-social {
			.locale-select {
				.dropdown-menu {
					margin-left: 25px;
					margin-right: 25px;

					a:hover {
						background-color: @white;
						color: @inmoblue-topheader;
						border-radius: 4px;
					}
				}
			}
		}

		//Generic setting on responsive menu
		.navbar-nav {
		    margin: 0px -15px !important;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#header {
		.header-container {
			.header-menu {
				.main-item { padding: 20px 15px; }
		    }
		    .header-locale-social {
		    	.social-media {
		    		.list-inline { margin-right: 0px; }
		    	}
		    }
		}
	}
}

#header { .navbar-collapse { border-color: @inmoblue-topheader; } }
